<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joan Serra</title>
    <meta name="author" content="Joan Serra">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Joan Serra, Serra Joan, CodeIgniter 4, PHP, Codeigniter 4, JavaScript, Desarrollador Web, Portfolio, Fullstack, web">
    <meta name="description" content="Portfolio de Joan Serra, desarrollador web full-stack. Especializado en CodeIgniter 4 y JavaScript.">

    <link rel="icon" href="../public/assets/images/logo.jpg" type="image/x-icon">

    <link href="../public/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/assets/css/style.css" rel="stylesheet">
    <link href="../public/assets/css/responsive.css" rel="stylesheet">
</head>
<body>
    <div class="container-md pb-5">

        <!-- Title -->
        <div class="title-section">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-5">
                    <h1>Desarrollador Full Stack</h1>
                    <p>con pasión por <span id="txtSubtitle"></span></p>
                    <div class="icons-contact">
                        <a href="https://www.linkedin.com/in/joanserrafreixas/" target="_blank">
                            <img src="../public/assets/images/contact/linkedin.svg" class="img-30 img-invert-1" alt="Linkedin">
                        </a>
                        <a href="mailto:info@serrajoan.com" class="ms-2">
                            <img src="../public/assets/images/contact/mail.svg" class="img-invert-1" style="width: 27px; margin-top: 1.9px;" alt="Mail">
                        </a>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-5">
                    <div class="profile-image">
                        <img src="../public/assets/images/profile.jpeg" class="img-border-10" alt="Profile image.">
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Title -->

        <!-- Projects -->
        <div class="subsection">
            <div class="subsection-title">
                <h2 class="text-uppercase">Mis Proyectos</h2>
            </div>

            <div class="row mt-3">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
                    <div class="my-card">
                        <div class="my-card-image m-2">
                            <img src="../public/assets/images/my-projects/mas-logo.svg" class="img-150" alt="MÁS Real Estate">
                        </div>

                        <div class="p-3">
                            <h3>MÁS Real Estate
                                <a href="https://masrealestate.es/" class="ms-3 img-a" target="_blank">
                                    <img src="../public/assets/images/icons/link.svg" class="img-invert mb-2">
                                </a>
                            </h3>
                            <p>
                                Web dedicada al alquiler, compra e inversión de viviendas de lujo.
                                Desarrollada con las tecnologías front-end <strong>HTML</strong>, <strong>CSS</strong> y <strong>JavaScript</strong> y respaldada por un backend en <strong>PHP</strong> conectado a una base de datos <strong>SQL</strong>.
                                Cuenta con una interfaz administrativa para gestionar el contenido de la web de manera eficiente y dinámica.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end: Projects -->

        <!-- Experience -->
        <div class="subsection">
            <div class="subsection-title mb-4">
                <h2 class="text-uppercase">Mi experiencia</h2>
            </div>

            <div class="m-2">
                <div class="my-card-large">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-6 col-12 py-2 px-4">
                            <img src="../public/assets/images/experience/devinet.svg" class="img-80 img-fluid img-border-10" alt="Devinet">
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-6 col-12 py-2 px-4">
                            <strong>2022 - Actualidad</strong>
                            <p>
                                Desarrollador Full Stack en Devinet. Experto en tecnologías clave como CodeIgniter 4, HTML, JavaScript, PHP, SQL y Git.
                                Responsable de optimizar y dar vida a diversas aplicaciones web, transformando requisitos en soluciones digitales eficientes y vanguardistas.
                                Además, destacado por un trato directo y eficaz con los clientes, asegurando que sus necesidades y expectativas se cumplan a la perfección.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="my-card-large">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-6 col-12 py-2 px-4">
                            <img src="../public/assets/images/experience/iswolk.png" class="img-150 img-fluid img-border-10" alt="Iswolk">
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-6 col-12 py-2 px-4">
                            <strong>2021 - 2022</strong>
                            <p>
                                Desarrollador Full Stack en IsWolk. Con habilidades en tecnologías esenciales como CodeIgniter 4, HTML, JavaScript, PHP y Git.
                                Desempeñé un papel crucial ayudando a mantener diversas páginas web, garantizando su óptimo funcionamiento y adaptándolas a las necesidades cambiantes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Experience -->

        <!-- Knowledge -->
        <div class="subsection">
            <div class="subsection-title mb-4">
                <h2 class="text-uppercase">Conocimientos</h2>
            </div>

            <div class="row">

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="my-card-small">
                        <div class="d-flex align-items-center p-2">
                            <div class="flex-shrink-0">
                                <img src="../public/assets/images/knowledge/php.svg" alt="PHP">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p class="m-0">PHP</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="my-card-small">
                        <div class="d-flex align-items-center p-2">
                            <div class="flex-shrink-0">
                                <img src="../public/assets/images/knowledge/cedeigniter.svg" alt="CodeIgniter">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p class="m-0 d-block d-sm-none">CI 4</p>
                                <p class="m-0 d-none d-sm-block">CodeIgniter 4</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="my-card-small">
                        <div class="d-flex align-items-center p-2">
                            <div class="flex-shrink-0">
                                <img src="../public/assets/images/knowledge/js.svg" alt="Java Script">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p class="m-0">Java Script</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="my-card-small">
                        <div class="d-flex align-items-center p-2">
                            <div class="flex-shrink-0">
                                <img src="../public/assets/images/knowledge/css.svg" alt="CSS">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p class="m-0">CSS</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="my-card-small">
                        <div class="d-flex align-items-center p-2">
                            <div class="flex-shrink-0">
                                <img src="../public/assets/images/knowledge/html5.svg" alt="HTML5">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p class="m-0">HTML5</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="my-card-small">
                        <div class="d-flex align-items-center p-2">
                            <div class="flex-shrink-0">
                                <img src="../public/assets/images/knowledge/sql.svg" alt="SQL">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p class="m-0">SQL</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="my-card-small">
                        <div class="d-flex align-items-center p-2">
                            <div class="flex-shrink-0">
                                <img src="../public/assets/images/knowledge/git.svg" alt="Git">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p class="m-0">Git - GitHub - Bitbucket</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- end: Knowledge -->

    </div>

    <footer>
        <div class="d-flex justify-content-center pb-5">
            <a href="https://www.linkedin.com/in/joanserrafreixas/" target="_blank">
                <img src="../public/assets/images/contact/linkedin.svg" class="img-30 img-invert-1" alt="Linkedin">
            </a>
            <a href="mailto:info@serrajoan.com" class="ms-2">
                <img src="../public/assets/images/contact/mail.svg" class="img-invert-1" style="width: 27px; margin-top: 1.9px;" alt="Mail">
            </a>
        </div>
    </footer>
    <script src="../public/assets/js/bootstrap.bundle.min.js"></script>
    <script src="../public/assets/js/changer-text.js"></script>
</body>
</html>